	East and Horn of Africa, .docx
	Finding-the-Nexus/.DS_Store
	Finding-the-Nexus/Bruno_parser/
	Finding-the-Nexus/FInding the nexus between climate change, conflict and forced displacement - Workshop Agenda 2019.pdf
	Finding-the-Nexus/FindTheNexusDeepLearning/Project Jetson - U. of Essex.pdf
	Finding-the-Nexus/computer-vision/Gupta_Creating_xBD_A_Dataset_for_Assessing_Building_Damage_from_Satellite_CVPRW_2019_paper.pdf
	Finding-the-Nexus/computer-vision/NDVI-Index-for-Somalia-2002-2019.pdf
	Finding-the-Nexus/computer-vision/Nachmany_Detecting_Roads_from_Satellite_Imagery_in_the_Developing_World_CVPRW_2019_paper.pdf
	Finding-the-Nexus/computer-vision/Nazir_Tiny-Inception-ResNet-v2_Using_Deep_Learning_for_Eliminating_Bonded_Labors_of_Brick_CVPRW_2019_paper.pdf
	Finding-the-Nexus/computer-vision/PERS_2002_SVI.pdf
	Finding-the-Nexus/computer-vision/related-work/UNOSAT_UNGP_machine learning satelite.pdf
	Intro to PA in forced displacement + Project Jetson.pdf
	KEN_Rivers/
	Sahel Survey Results.xlsx
	Slides_KatherineHoffman.pdf
	SomeInnovationProjects.pdf
	UNGP_ Modeling Framework - Predictive Analytics.pdf
	Website/node_modules/.DS_Store
	dataviz-somalia-prmn-master/
	remote_sensing/.DS_Store
	wikiimages/Demo_Overview.png