/* Universal */

$assetPath: "/img";
@font-face {
    font-family: 'proxima';
    src: url('./fonts/proximanova-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximamedium';
    src: url('./fonts/proximanova-semibold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximabold';
    src: url('./fonts/proximanova-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    outline: none !important;
}

h1,
h2 {
    font-family: 'proximamedium';
}

h2 {
    margin-bottom: 20px;
    color: #0072BC;
}

h2 {
    margin-bottom: 20px;
}

h3 {
    font-family: 'proximamedium';
    font-size: 24px;
}

p,
ul li,
ol li {
    font-family: 'proxima';
    font-size: 18px;
}

html,
body {
    color: #0072BC;
    height: 100%;
    font-family: 'proxima';
}

.loader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    background: #0072BC;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
}

.loader .logo {
    width: 350px;
    max-width: 60%;
}

@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container-fluid {
    padding-left: 30px;
}

.loader .logo {
    -webkit-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
}

img {
    max-width: 100%;
}

.btn {
    font-family: 'proximamedium';
    padding: 13px 20px;
    -webkit-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
    color: #0072BC;
    border-radius: 1px;
}

.modal .btn {
    background: #0072BC;
    padding: 13px 20px;
    border: none;
    color: #fff !important;
}

.btn:hover {
    color: #fff;
    background: #006BB0;
}


/* Nav */

.navbar {
    background: none !important;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999999999;
}

ul.navbar-nav {
    text-align: right;
}

.navbar-brand {
    padding-left: 0;
}

.navbar-brand img {
    width: 250px;
}


/* Section */

section {
    padding: 100px 0;
    overflow: hidden;
    position: relative;
}

.page-content {
    overflow: inherit;
}

section ol {
    padding-left: 15px;
}

section ol li {
    margin-bottom: 15px;
}

section a {
    color: inherit;
    border-bottom: 2px solid;
    text-decoration: none !important;
}

section ul {
    padding-left: 20px;
}

.minified {
    height: 400px;
}

section .more {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: left;
    padding: 30px 0px 70px;
    background: #F5F4F0;
}

section .more button {
    background: #0072BC;
    color: #F5F4F0;
}

section .more .hideme {
    display: inline-block;
}

section .more .showme {
    display: none;
}

section .more.view .hideme {
    display: none;
}

section .more.view .showme {
    display: inline-block;
}


/* Hero */

.hero {
    background: #0072BC;
    color: #fff;
    height: 100%;
    position: relative;
    padding: 0;
    z-index: 1;
}

.hero .container-fluid,
.hero .row,
.hero .split-col,
.hero .split-col .row {
    height: 100%;
}

.hero .hero-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15% 50px 10% 0;
}

.hero h1 {
    margin-bottom: 20px;
}

.hero p {
    margin-bottom: 20px;
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 1px;
}

.hero .btn {
    background: #fff;
}

.hero .btn:hover {
    background: #006BB0;
}

.hero .hero-image {
    background: url(/img/astronaut.jpg) no-repeat center;
    background-size: cover;
    height: 100%;
}

.scene {
    background: #0072BC;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.scene path:first-child {
    fill: #4f4fea;
}

.scene path:nth-child(2) {
    fill: #0c27cf;
}

.scene path:nth-child(3) {
    fill: #13269c;
}

.scene path:nth-child(4) {
    fill: #242468;
}

.scene path:nth-child(5) {
    fill: #2648e6;
}

.scene path:nth-child(6) {
    fill: #2c31b0;
}

.scene path:nth-child(7) {
    fill: #262689;
}

.title {
    color: #fff;
    font-size: 6vw;
    font-weight: 400;
    z-index: 1000;
    font-family: 'Arapey', serif;
    pointer-events: none;
}


/* Intro */

.intro {
    background: #F5F4F0;
    color: #848791;
}

.intro .more {
    background: #F5F4F0;
}


/* Slider */

.swiper-container {
    width: 100%;
}

.logo-slider .swiper-wrapper {
    padding: 30px 0;
}

.logo-slider .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    padding: 10px 10px 0;
    border-radius: 2px;
}

.logo-slider .swiper-slide img {
    max-height: 40px;
    display: block;
    margin: 0 auto;
}

.logo-slider .swiper-slide a {
    font-size: 14px;
    text-decoration: none;
    border-bottom: none;
    position: relative;
    padding: 10px;
    margin-top: 10px;
    display: block;
    opacity: 0;
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}

.logo-slider .swiper-slide a:after {
    height: 1px;
    width: 14px;
    background: #0072BC;
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -7px;
}

.logo-slider .swiper-slide:hover {
    background: #FFFFFF;
    -webkit-box-shadow: 0 2px 19px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 19px 0 rgba(0, 0, 0, 0.12);
}

.logo-slider .swiper-slide:hover a {
    opacity: 1;
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}


/* Epilogue */

#epilogue,
#epilogue .swiper-wrapper,
#epilogue .swiper-slide {
    height: 100% !important;
}

#epilogue .swiper-slide {
    position: relative;
    overflow: hidden;
}

#epilogue .hero-caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: #0072bb;
}

#epilogue .hero-caption .content {
    max-width: 50% !important;
    color: #fff;
    text-align: center;
    z-index: 2;
}

#epilogue .swiper-slide:nth-child(1) a {
    position: absolute;
    display: block;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
    bottom: 30px;
    -webkit-animation: slide-bottom 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
    animation: slide-bottom 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
}

@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
}

@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
}


/* Slider shapes */

.anim-shape {
    position: absolute;
    top: 0;
    z-index: 1;
    left: 0;
}

.anim-shape.triangle {
    top: -100px;
    left: 25%;
}

.anim-shape.cross {
    top: 50%;
    left: -50px;
    margin-top: -60px;
}

.anim-shape.oval {
    top: 50%;
    left: auto;
    right: -50px;
    margin-top: -190px;
}

.anim-shape.yellow-dots {
    top: 15%;
    left: auto;
    right: 25%;
}

.anim-shape.cyan-dots {
    top: auto;
    left: 15%;
    bottom: -20px;
    margin-top: -190px;
}

.anim-shape.line {
    top: auto;
    left: auto;
    right: 15%;
    bottom: -20px;
    margin-top: -190px;
}


/* shape animations */

.spin-right {
    -webkit-animation: spin-right 70s ease-in infinite both;
    animation: spin-left 70s ease-in infinite both;
}

@-webkit-keyframes spin-right {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin-right {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.spin-left {
    -webkit-animation: spin-left 70s ease-in infinite reverse both;
    animation: spin-left 70s ease-in infinite reverse both;
}

@-webkit-keyframes spin-left {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin-left {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.fast-spin-left {
    -webkit-animation: fast-spin-left 40s ease-in infinite both;
    animation: fast-spin-left 40s ease-in infinite both;
}

@-webkit-keyframes fast-spin-left {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes fast-spin-left {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.fast-spin-right {
    -webkit-animation: fast-spin-right 40s ease-in infinite reverse both;
    animation: fast-spin-right 40s ease-in infinite reverse both;
}

@-webkit-keyframes fast-spin-right {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes fast-spin-right {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/* slide Section */

.slide-section {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.slide-section .content {
    padding: 0 100px;
    text-align: center;
    z-index: 2
}

.slide-section.process-half {
    background: #0072bb;
    color: #fff;
}

.slide-section.outcomes-half {
    left: auto;
    right: 0;
}

.slide-section a {
    position: absolute;
    bottom: 20px;
    z-index: 4;
    left: 20px;
}

.slide-section.outcomes-half a {
    left: auto;
    right: 20px;
}

.slide-section a:hover button {
    background: none
}


/* Prediction */

.prediction {
    text-align: left;
    background: #F0F3F5;
}

.prediction .container {
    position: relative;
    z-index: 1;
}

.prediction .container:before {
    width: 240px;
    height: 252px;
    position: absolute;
    content: '';
    background: url(/img/africa-dot-map.png) center no-repeat;
    background-size: cover;
    left: -140px;
    top: -45px;
    z-index: -1 !important;
}

.prediction p {
    color: #494949;
}

.prediction .btn {
    display: inline-block;
    background: #0072BC;
    color: #fff;
    margin-right: 15px;
    margin-top: 15px;
}


/* map */

.map-container {
    margin: 30px auto 0;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}

#regions_div {
    border-radius: 0 0 2px 2px;
    overflow: hidden;
    color: #0072BC;
    background: #fff;
    width: 100%;
    height: 600px;
    display: none;
}

#regions_div g g g,
#regions_div g g g g {
    cursor: pointer;
}

.map-title {
    color: #0072BC;
    background: #fff;
    border-radius: 2px 2px 0 0;
    display: none;
}

.map-title h2 {
    font-family: 'proximamedium';
    font-size: 16px;
    padding: 15px 40px;
    display: inline-block;
    margin: 0 auto;
    border-radius: 0 0 15px 15px;
    border-top: 0;
}

.map-title h2 span {
    margin-right: 10px;
}

.map-container h4 {
    margin-bottom: 10px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'proximamedium';
}

.key {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #0072BC;
    z-index: 3;
    width: 300px;
}

.key .colours {
    width: 100%;
}

.key .colours span {
    height: 4px;
    width: 33.3333333333%;
    background: #ff0000;
    display: block;
    float: left;
    border-radius: 2px;
}

.key .colours span.moderate {
    background: #0072BC;
}

.key .colours span.high {
    background: #4D00BC;
}

.key .colours span.critical {
    background: #BC0094;
}

.key .labels span {
    cursor: pointer;
    width: 33.3333333333%;
    display: inline-block;
    float: left;
    text-align: center;
}

.map-container .warning {
    display: none;
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: orange;
}


/* Engine */

.engine {
    background: #F5F4F0;
    color: #848791;
}

.engine .more {
    background: #F5F4F0;
}

.engine p,
.engine li {
    opacity: 0.6;
}

.engine img {
    margin-top: 30px;
    margin-bottom: -70px;
}


/* Articles */

.articles {
    background: #F5F4F0;
}

.articles p {
    color: #494949;
}

.articles .single-article-thumb {
    height: 350px;
    position: relative;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    margin-top: 20px;
}

.articles .single-article-thumb .thumb-cover {
    background: #FFFFFF;
    -webkit-box-shadow: 0 8px 35px 0 rgba(0, 114, 188, 0.1);
    box-shadow: 0 8px 35px 0 rgba(0, 114, 188, 0.1);
    border-radius: 5px;
    padding: 20px 20px 20px;
    border-radius: 3px;
    height: 100%;
    -webkit-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
    text-align: center;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.articles .single-article-thumb:hover .thumb-cover {
    background: #FFFFFF;
    -webkit-box-shadow: 0 40px 45px 0 rgba(0, 114, 188, 0.1);
    box-shadow: 0 40px 45px 0 rgba(0, 114, 188, 0.1);
    -webkit-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
}

.articles .single-article-thumb .thumb-cover h2 {
    margin: 9px 0 0;
    font-size: 30px;
    -webkit-transform: translateZ(20px);
    transform: translateZ(20px);
}

.articles .single-article-thumb .thumb-cover h3 {
    -webkit-transform: translateZ(20px);
    transform: translateZ(20px);
}

.articles .single-article-thumb .thumb-cover p {
    font-size: 14px;
    opacity: 0.7;
    -webkit-transform: translateZ(20px);
    transform: translateZ(20px);
}

.articles .single-article-thumb a {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -60px;
    width: 120px;
    border: none;
    color: #000;
    font-size: 14px;
    padding-bottom: 10px;
    -webkit-transform: translateZ(20px);
    transform: translateZ(20px);
}

.articles .single-article-thumb a:after {
    width: 14px;
    height: 1px;
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -7px;
    bottom: 0;
    background: #000;
}


/* Future */

.future {
    background: #fafafa;
}

.future ul {
    padding-left: 15px;
}

.future p {
    opacity: 0.6;
}


/* FAQs */

.faqs {
    background: #F0F3F5;
}

.faqs h3 {
    text-align: center;
    margin-bottom: 20px;
}

.faqs h4 strong {
    border-bottom: 3px solid rgba(0, 14, 74, 0.2);
    cursor: pointer;
    display: inline;
    font-size: 16px;
    -webkit-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
}

.faqs .num {
    border: 3px solid rgba(0, 14, 74, 0.2);
    height: 40px;
    width: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50px;
    vertical-align: middle;
    padding: 10px;
    margin-right: 5px;
    font-size: 15px;
}

.faqs h4:hover strong {
    border-bottom: 3px solid rgba(0, 14, 74, 0.46);
    cursor: pointer;
    display: inline;
    font-size: 16px;
}

.faqs p {
    opacity: 0.6;
}

.modal-title {
    font-size: 21px;
    font-weight: 600;
}

.modal-dialog ul {
    padding-left: 15px;
}

.modal-dialog a {
    color: inherit;
    border-bottom: 2px solid;
    text-decoration: none;
}


/* Footer */

footer {
    background: #0072BC;
    padding: 30px 0;
}

footer * {
    color: #fff;
    font-size: 14px;
    margin: 0;
}

footer .copyright {
    opacity: 0.6;
}

footer .back-home {
    text-align: right;
    opacity: 0.6;
}

footer .back-home a {
    margin-left: 15px;
    display: inline-block;
}

footer .back-home a:hover {
    color: inherit;
    text-decoration: none;
}

footer .back-home a span {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    -webkit-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
}

footer .back-home a:hover span {
    margin-left: 5px;
}


/* Large Devices, Wide Screens */


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    .prediction h1 {
        font-size: 100px;
        position: relative;
    }
    .engine img {
        margin-top: 30px;
        margin-bottom: -40px;
    }
    .articles .single-article-thumb .thumb-cover h2 {
        width: 100%;
        margin-top: 10px;
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .prediction h1 {
        font-size: 70px;
        position: relative;
    }
    .engine img {
        margin-top: 30px;
        margin-bottom: -40px;
    }
    .faqs .col-sm-4 {
        margin-bottom: 40px;
    }
    .prediction h1 #pred_accuracy {
        font-size: 16px;
    }
    .prediction h1 #pred_date {
        bottom: -30px;
        right: auto;
        left: 0;
        font-size: 16px;
    }
    .hero p {
        font-size: 15px;
        letter-spacing: 0px;
        margin-bottom: 10px;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    .prediction h1 {
        font-size: 48px;
        position: relative;
        margin-bottom: 20px;
    }
    .prediction h1 #pred_date {
        bottom: -25px;
        right: auto;
        left: 0;
    }
    .engine {
        padding-bottom: 100px;
    }
    .engine img {
        margin-top: 30px;
        margin-bottom: -0px;
    }
    .articles .single-article-thumb {
        height: auto;
    }
    #regions_div {
        border-radius: 15px;
        overflow: hidden;
        margin-top: 0px;
        background: #0072BC;
        width: 100%;
        height: 300px;
        display: none;
    }
    .key {
        position: absolute;
        bottom: 20px;
        right: 20px;
        color: #fff;
        z-index: 3;
        width: 250px;
    }
    .key .colours {
        width: 100%;
    }
    .key .labels span {
        font-size: 14px;
    }
}


/* Custom, iPhone Retina */