@charset "UTF-8";

/* Typography */

@font-face {
    font-family: 'maaxbold';
    src: url('../fonts/sans-bold-webfont.woff2') format('woff2'), url('../fonts/sans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'maaxitalic';
    src: url('../fonts/sans-italic-webfont.woff2') format('woff2'), url('../fonts/sans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'maaxmedium';
    src: url('../fonts/sans-medium-webfont.woff2') format('woff2'), url('../fonts/sans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'maaxregular';
    src: url('../fonts/sans-regular-webfont.woff2') format('woff2'), url('../fonts/sans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body,html {
    font-family: 'maaxregular';
    background: #f8f8f3;
    height:100%;
    width:100%;
    overflow: none;
}

*
{
    outline:none;
}

img
{
    max-width: 100%;
}

h1
{
    font-size:40px;
    font-weight:200;
}

h2
{
    font-family: 'maaxbold';
    color: #0b6eb5;
    font-size: 40px;
    margin-bottom:20px;
}

h3
{
    margin-bottom:30px;
    font-family: 'maaxbold';
    color: #0b6eb5;
    font-weight:200;
}

a
{
    color: #000 !important;
}

.container
{
    max-width: 700px;
}

.btn
{
    background: #0b6eb5;
    border-radius: 50px;
    color: #fff;
    padding:15px 20px;
    font-size: 13px;
    margin-top: 10px;
}

.body-container
{
    height:100%;
    width:100%;
    position: relative;
    overflow-x: hidden;
}

.sidebar
{
    width:80px;
    height: 100%;
    position: fixed;
    left: 0;
    background: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
}

#spy
{
    position:absolute;
    top:50%;
    text-align:center;
    left:50%;
    margin-left:-5px;
    margin-top:-60px;
}

#spy ul li a
{
    display:inline-block;
    height:10px;
    width:10px;
    border:2px solid #d2d2d2;
    padding:0;
    margin:10px auto;
    border-radius:20px;
    background:none !important;
    transition:all ease-in-out .3s
}

#spy ul li.active a 
{
    border-color:#0b6eb5;
}

.main
{
    width: -webkit-calc(100% - 80px);
    width:    -moz-calc(100% - 80px);
    width:         calc(100% - 80px);
    height: 100%;
    position: absolute;
    right:0;
}

.logo
{
    padding:15px;
}

.footer
{
    bottom:10px;
    position: absolute;
    left:0;
    right:0;
}

section
{
    min-height:100%;
}

section .container
{
    margin-bottom:80px;
}

section#intro
{
    background: #f2f2ec;
}

.particles-js-canvas-el
{
    top:0;
    left:0;
    right:0;
    bottom:0;
    position: absolute;
}

section .caption
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%
}

section .caption-inner
{
    width:400px;
    height:600px;
    padding-top: 150px;
    background: url(../img/map-route.png) center no-repeat;
    background-size: contain;
    position: relative;
    z-index: 2
}

section .caption-inner:before
{
    height:360px;
    width:360px;
    content:'';
    position: absolute;
    left: 50%;
    margin-left: -180px;
    top:50%;
    margin-top:-180px;
    background: -moz-radial-gradient(center, ellipse cover,  rgba(242,242,236,1) 0%, rgba(242,242,236,1) 60%, rgba(242,242,236,0) 100%);
background: -webkit-radial-gradient(center, ellipse cover,  rgba(242,242,236,1) 0%,rgba(242,242,236,1) 60%,rgba(242,242,236,0) 100%);
background: radial-gradient(ellipse at center,  rgba(242,242,236,1) 0%,rgba(242,242,236,1) 60%,rgba(242,242,236,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2ec', endColorstr='#00f2f2ec',GradientType=1 );
z-index: -1;
    box-shadow: 0 0 20px #f2f2ec;
    border-radius: 50%
}

section .caption-inner p 
{
    line-height: 22px;
}

section#simulation
{
    background:#ecece7;
}

section h3 
{
    margin-top:60px;
}

section .col-sm-2 h3
{
    margin-bottom:30px;
    font-family: 'maaxbold';
    color: #0b6eb5;
    font-weight:200;
}

section#simulation .col-sm-9
{
    background: #f8f8f3;
}

.chart
{
    background: #F2F2ED;
    padding:0 40px 60px;
    color:#111;
}

.chart h3
{
    margin-bottom:30px;
    font-weight:400;
}

.chart h4.map-title
{
    margin-bottom:30px;
    font-weight:200;
    margin-top:23px;
}


.chart h4.region-title
{
    margin-bottom:10px;
    font-weight:400;
    color:#000;
    font-size:18px;
    margin-top:10px;
}

.slider-row
{
    margin:0;
    margin-bottom:30px;
    margin-top: 30px;
}

.controls
{
    margin-bottom:40px;
}

.controls h4 
{
    font-weight:200;
    color:#777;
    margin:0;
    font-size:20px
}

.controls h5
{
    font-size:11px;
    font-weight:200
}

.conflict-control 
{
    text-align:left;
}

.food-control 
{
    text-align:right;
}

.food-control h5 
{
    margin-right:5px;
}

.control-titles h4
{
    font-size:12px;
    text-align:center;
}

.conflict-control .ui-state-default, .conflict-control .ui-widget-content .ui-state-default, .conflict-control .ui-widget-header .ui-state-default, .conflict-control .ui-button, html .conflict-control .ui-button.ui-state-disabled:hover, html .conflict-control .ui-button.ui-state-disabled:active
{
    border-radius:12px;
    top:-5px;
    height:12px;
    width:12px;
    margin-left:-6px !important;
    background:#e96a2c;
    margin-left:0;
    margin-right:0;
    border:none;
}

.food-control .ui-state-default, .food-control .ui-widget-content .ui-state-default, .food-control .ui-widget-header .ui-state-default, .food-control .ui-button, html .food-control .ui-button.ui-state-disabled:hover, html .food-control .ui-button.ui-state-disabled:active
{
    border-radius:12px;
    top:-5px;
    height:12px;
    width:12px;
    margin-left:-6px !important;
    background:#0ec1b3;
    margin-left:0;
    margin-right:0;
    border:none;
}

.conflict-control .ui-slider-horizontal
{
    height:2px;
    border:none !important;
    background: rgba(233, 106, 44, 0.2);
    margin:10px 10px 0px;
    border-radius: 5px;
}

.food-control .ui-slider-horizontal
{
    height:2px;
    border:none !important;
    background: rgba(14, 193, 179, 0.2);
    margin:10px 10px 0px;
    border-radius: 5px;
}


.slider-key
{
    width:100%;
    position:relative;
    font-size:9px;
    font-weight:600;
    color:#666;
    text-align:left;
}

.slider-key .max
{
    position:absolute;
    right:0;
    text-align:right;
}

.locations
{
    margin-top: 40px;
}

.location
{
    margin-top: 20px;
}

.full-image
{
    margin-bottom:50px;
}


#somalia-intent
{
    margin-bottom:50px;
    margin-top: 20px;
}

.location-wrapper
{
    position: relative;
    margin:10px 0;
    height: 15px;
}

.location-wrapper span
{
    display: inline-block;
    height:20px;
    width:20px;
    background:#267EA5;
    border-radius: 30px;
    position: absolute;
    top:-3px;
    font-size: 10px;
    text-align: center;
    transition: all ease-in-out .3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    color:#fff;
    overflow:hidden;
}

.location-wrapper span p 
{
    margin:0;
    font-weight:400;
}

.location-wrapper .location-track
{
    position: absolute;
    left:0;
    right:0;
    height: 1px;
    background: #aaa;
    top:50%;
}

.location-wrapper .destination
{
    right:40%;
    background: #9938E5;
    z-index: 2;
    margin-right:-10px;
}

.location-wrapper .destination-pred
{
    right:40%;
    background: red;
    z-index: 1;
    margin-right:-10px;
}

.key
{
    position:relative;
    margin-top:20px;
    width:100%;
}

.key span
{
    position:absolute;
    font-weight:600;
    font-size:12px;
    text-align:center;
    display:inline-block;
    width:40px;
    color:#267EA5;
}


.key span.key2011
{
    margin-left:-10px;
}

.key span.key2016
{
    right:40%;
    margin-right:-20px;
    color:#9938E5;
}


.key span.key2018
{
    right:0%;
    margin-right:-20px;
    color:red;
}

/* map */

.map
{
    width:100%;
    height:500px;
    transition:all ease-in-out .3s;
}

#conflictmap > div
{
    background: #f7d9c2 !important;    
}


#foodmap > div
{
    background: #cdebf0 !important;    
}

.infoBox
{
    width:100px !important;
    margin-left:-25px 
}

.infoBox h4
{
    font-weight:200;
    font-size:20px;
    text-shadow:0 0 50px rgba(0,0,0,1)
}

.infoBox h6
{
    font-weight:400;
    font-size:10px;
}


.slider-variables
{
    padding-top:40px;
    padding-bottom:40px;
}

/* intent */

#chart
{
    margin: auto
}

.intents
{
    text-align: center;
    padding-top:40px;
    padding-bottom:40px;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}
 
.node text {
  pointer-events: none;
  font-family: Helvetica;
  font-size: 14px;
    font-weight: 200;
}




































