/* Universal */

@font-face {
    font-family: 'proxima';
    src: url('../fonts/proximanova-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximamedium';
    src: url('../fonts/proximanova-semibold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximabold';
    src: url('../fonts/proximanova-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1,
h2 {
    font-family: 'proximabold';
}

h2 {
    margin-bottom: 20px;
}

h3 {
    font-family: 'proxima';
}

p {
    font-family: 'proxima';
}

html,
body {
    color: #000E4A;
    height: 100%;
    font-family: 'proxima';
}

img {
    max-width: 100%;
}

.btn {
    font-family: 'proximabold';
    padding: 13px 0;
    transition: all ease-in-out .1s;
    color: #fff;
}

.btn span {
    border: 1px solid rgba(255, 255, 255, .3);
    padding: 10px;
    border-radius: 50px;
    margin-right: 5px;
    transition: all ease-in-out .1s;
}

.btn:hover {
    color: #fff;
}

.btn:hover span {
    background: #fff;
    color: #000E4A;
}

p {
    font-size: 18px;
}


/* Nav */

.navbar-default {
    border: none;
    background: #000E4A;
    border-radius: 0;
    margin: 0;
    border-bottom-color: #000E4A;
    margin-bottom: -1px;
}

.navbar-default .navbar-brand img {
    width: 250px;
}


/* Section */

section {
    padding: 100px 0;
}

section ol {
    padding-left: 15px;
}

section ol li {
    margin-bottom: 15px;
}


/* Hero */

.hero {
    background: #000E4A;
    color: #fff;
    height: 85%;
    position: relative;
}

.hero .hero-caption {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}

.hero h1 {
    margin-bottom: 20px;
}

.hero p {
    margin-bottom: 20px;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 1px;
}


/* Intro */

.intro {
    background: #F4F4F4;
    color: #848791;
}


/* Prediction */

.prediction {
    text-align: center;
}

.prediction p {
    margin-top: 40px;
}

.prediction .map-holder {
    width: 60px;
    margin: 0 auto;
    position: relative;
}

.prediction .map-holder:after {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #59AB00;
    content: '';
    display: block;
    top: 27px;
    right: 3px;
    border-radius: 50%;
    margin-top: -3px;
    margin-right: -3px;
}

.prediction .map-holder:before {
    border: 35px solid #59AB00;
    content: '';
    background: transparent;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    height: 80px;
    width: 80px;
    -webkit-animation: pulse 1.5s ease-out;
    -moz-animation: pulse 1.5s ease-out;
    animation: pulse 1.5s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    position: absolute;
    margin-top: -40px;
    margin-right: -40px;
    top: 29px;
    right: 5px;
    z-index: -2;
    opacity: 0;
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(0);
        opacity: 0.0;
    }
    25% {
        -moz-transform: scale(0);
        opacity: 0.1;
    }
    50% {
        -moz-transform: scale(0.05);
        opacity: 0.6;
    }
    75% {
        -moz-transform: scale(0.15);
        opacity: 0.8;
    }
    100% {
        -moz-transform: scale(0.4);
        opacity: 0.0;
    }
}

@-webkit-keyframes "pulse" {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
    }
    25% {
        -webkit-transform: scale(0);
        opacity: 0.1;
    }
    50% {
        -webkit-transform: scale(0.05);
        opacity: 0.6;
    }
    75% {
        -webkit-transform: scale(0.15);
        opacity: 0.8;
    }
    100% {
        -webkit-transform: scale(0.4);
        opacity: 0.0;
    }
}

.prediction h4 {
    font-family: 'proximabold';
    font-size: 14px;
    margin: 20px 0 0;
}

.prediction h4 .highlight {
    opacity: .4;
}

.prediction h1 {
    font-size: 140px;
    position: relative;
    display: inline-block;
    margin-top: 0
}

.prediction h1 #pred_accuracy {
    font-size: 18px;
    position: absolute;
    bottom: -10px;
    left: 0;
    display: inline-block
}

.prediction h1 #pred_date {
    font-size: 18px;
    display: block;
    color: #59AB00
}

.prediction .downloadpdf {
    display: block;
    border: 1px solid rgba(0, 14, 74, .2);
    color: #000E4A;
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 15px 20px;
    border-radius: 50px;
    font-family: 'proximabold';
    text-decoration: none;
    transition: all ease-in-out .3s;
    font-size: 14px;
    background: #fff;
}

.prediction .downloadpdf:hover {
    border: 1px solid rgba(0, 14, 74, 1);
    transition: all ease-in-out .3s;
}

.prediction .downloadpdf .ti-panel {
    margin-left: 5px;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
}


/* Engine */

.engine {
    background: #ECF8FF;
}

.engine p {
    opacity: .6;
}

.engine img {
    margin-top: 30px;
    margin-bottom: -70px;
}

.engine a {
    color: inherit;
    border-bottom: 2px solid;
    text-decoration: none;
}


/* Articles */

.articles .single-article-thumb {
    height: 300px;
    position: relative;
    transition: all ease-in-out .3s;
    overflow: hidden;
    margin-bottom: 20px;
}

.articles .single-article-thumb .thumb-cover {
    border: 1px solid rgba(0, 14, 74, .2);
    padding: 40px 20px 20px;
    border-radius: 15px;
    height: 100%;
    position: relative;
    transition: all ease-in-out .2s;
}

.articles .single-article-thumb:hover .thumb-cover {
    background: #000E4A
}

.articles .single-article-thumb .thumb-cover h2 {
    width: 80%;
}

.articles .single-article-thumb .thumb-cover h5 {
    font-family: "Times New Roman", serif;
    font-style: italic;
    font-size: 20px;
}

.articles .single-article-thumb .thumb-cover p {
    font-size: 14px;
    opacity: .7;
}

.articles .single-article-thumb .thumb-hover {
    position: absolute;
    top: 100%;
    left: 15px;
    right: 15px;
    height: 100%;
    border-radius: 15px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity ease-in-out .1s;
    transition: box-shadow ease-in-out .5s;
    box-shadow: 0 0px 20px rgba(0, 14, 74, .7);
}

.articles .single-article-thumb:hover {
    overflow: visible;
}

.articles .single-article-thumb:hover .thumb-hover {
    top: 0;
    opacity: 1;
    transition: opacity ease-in-out .1s;
    transition: box-shadow ease-in-out .2s;
    box-shadow: 0 12px 20px rgba(0, 14, 74, .7);
}

.articles .single-article-thumb span {
    display: block;
    background: #fff;
    color: #000E4A;
    width: 40px;
    height: 40px;
    padding: 13px;
    margin: 0 auto;
    border-radius: 30px;
    margin-bottom: 10px;
}

.articles .single-article-thumb a {
    color: #fff;
    font-family: 'proximamedium';
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    opacity: .5;
    text-decoration: none;
    padding: 5px 0;
    border-bottom: 3px solid rgba(255, 255, 255, .0);
    transition: all ease-in-out .2s;
}

.articles .single-article-thumb a:hover {
    border-bottom: 3px solid rgba(255, 255, 255, 1);
    transition: all ease-in-out .2s;
}


/* Future */

.future {
    background: #FAFAFA;
}

.future ul {
    padding-left: 15px
}

.future p {
    opacity: .6;
}


/* FAQs */

.faqs h3 {
    text-align: center;
    margin-bottom: 20px;
}

.faqs h4 strong {
    border-bottom: 3px solid rgba(0, 14, 74, .2);
    cursor: pointer;
    display: inline;
    font-size: 16px;
    transition: all ease-in-out .2s;
}

.faqs .num {
    border: 3px solid rgba(0, 14, 74, .2);
    height: 40px;
    width: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50px;
    vertical-align: middle;
    padding: 10px;
    margin-right: 5px;
    font-size: 15px;
}

.faqs h4:hover strong {
    border-bottom: 3px solid rgba(0, 14, 74, 0.46);
    cursor: pointer;
    display: inline;
    font-size: 16px;
}

.faqs p {
    opacity: .6
}

.modal-title {
    font-size: 21px;
    font-weight: 600;
}

.modal-dialog ul {
    padding-left: 15px;
}

.modal-dialog a {
    color: inherit;
    border-bottom: 2px solid;
    text-decoration: none
}


/* Footer */

footer {
    background: #000E4A;
    padding: 30px 0;
}

footer * {
    color: #fff;
    font-size: 14px;
    margin: 0;
}

footer .copyright {
    opacity: .6;
}

footer .back-home {
    text-align: right;
    opacity: .6
}

footer .back-home a:hover {
    color: inherit;
    text-decoration: none;
}

footer .back-home a span {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    transition: all ease-in-out .2s;
}

footer .back-home a:hover span {
    margin-left: 5px;
}


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    .prediction h1 {
        font-size: 100px;
        position: relative;
    }
    .engine img {
        margin-top: 30px;
        margin-bottom: -40px;
    }
    .articles .single-article-thumb .thumb-cover h2 {
        width: 100%;
        margin-top: 10px;
    }
    .hero .hero-caption {
        bottom: 40px;
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .prediction h1 {
        font-size: 70px;
        position: relative;
    }
    .engine img {
        margin-top: 30px;
        margin-bottom: -40px;
    }
    .faqs .col-sm-4 {
        margin-bottom: 40px;
    }
    .hero .hero-caption {
        bottom: 40px;
    }
    .prediction h1 #pred_accuracy {
        font-size: 16px;
    }
    .prediction h1 #pred_date {
        bottom: -30px;
        right: auto;
        left: 0;
        font-size: 16px;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    .prediction h1 {
        font-size: 48px;
        position: relative;
        margin-bottom: 20px
    }
    .prediction h1 #pred_date {
        bottom: -25px;
        right: auto;
        left: 0;
    }
    .engine {
        padding-bottom: 100px
    }
    .engine img {
        margin-top: 30px;
        margin-bottom: -0px;
    }
    .hero .hero-caption {
        bottom: 40px;
    }
    .articles .single-article-thumb {
        height: auto;
    }
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}